__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep

outputs/charts/*
!outputs/charts/.gitkeep

outputs/reports/*
!outputs/reports/.gitkeep

outputs/runs/*
!outputs/runs/.gitkeep
